.Button {
  background-color: green;
  border: 1px solid blue;
  padding: 8px;
  color: white;
  cursor: pointer;
  font: inherit;
  margin-top: 0px;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button .Red {
  background-color: red;
}
.Button.Red:hover {
  background-color: salmon;
  color: black;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}
