.Person {
  border: 1px solid #eee;
  margin: auto;
  padding: 12px;
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
}

button {
  margin-top: 20px;
}

@media (min-width:500px){
  .Person {
    width: 450px;
  }
}
